body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

.nav {
  margin-top: 20px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: var(--second-title-color);
}

ul {
  list-style: none;
}

.h3 {
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  width: 100vw;
  height: 100vh;
}

.modal-container {
  margin: auto;
  width: 528px;
  height: 620px;
  border-radius: 4px;
  background-color: #ffffff;
}

.close {
  position: relative;
  left: 495px;
  top: 10px;
  width: 25px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  cursor: pointer;
}

.x {
  width: 20px;
  height: 20px;
}

.x:hover {
  fill: #2196f3;
}

.is-hidden {
  visibility: hidden;
  opacity: 0.8;
  pointer-events: none;
}

.modal-text {
  text-align: center;
}

input,
.comentary-input {
  outline: none;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.name2 {
  font-size: 14px;
  color: #757575;
  margin-left: 20px;
  position: relative;
}

.name2-input {
  width: 490px;
  height: 40px;
  margin-top: 5px;
  padding-left: 35px;
  cursor: pointer;
}

.name2-input:hover,
.name2-input:focus {
  border: solid 1px #2196f3;
}

.person {
  position: absolute;
  right: 480px;
  top: 30px;
  width: 20px;
  height: 20px;
}

.name2-input:hover + .person,
.name2-input:focus + .person {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-text {
  font-size: 14px;
  color: #757575;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
}

.tel-input {
  width: 490px;
  height: 40px;
  margin-top: 10px;
  padding-left: 35px;
  cursor: pointer;
}

.tel-input:hover,
.tel-input:focus {
  border: solid 1px #2196f3;
}

.tel {
  position: absolute;
  right: 477px;
  top: 38px;
  width: 20px;
  height: 20px;
}

.tel-input:hover + .tel,
.tel-input:focus + .tel {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-text {
  font-size: 14px;
  color: #757575;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
}

.email-input {
  width: 490px;
  height: 40px;
  margin-top: 10px;
  padding-left: 35px;
  border-radius: 4xpx;
  cursor: pointer;
}

.email-input:hover,
.email-input:focus {
  border: solid 1px #2196f3;
}

.e-mail {
  position: absolute;
  right: 478px;
  top: 40px;
  width: 20px;
  height: 20px;
}

.email-input:hover + .e-mail,
.email-input:focus + .e-mail {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comentary {
  font-size: 14px;
  color: #757575;
  margin-top: 10px;
  margin-left: 20px;
}

.comentary-input {
  width: 490px;
  height: 120px;
  padding-top: 15px;
  padding-left: 12px;
  margin-top: 5px;
  resize: none;
  cursor: pointer;
}

.comentary-input:hover,
.comentary-input:focus {
  border: solid 1px #2196f3;
}

.condition {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

.check::before {
  content: "";
  display: block;
  width: 15px;
  height: 14px;
  border: 1px solid #757575;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}

.condition-checkbox:checked + .check::before {
  background-image: url(../images/check.svg);
  border-color: #2196f3;
  background-color: #2196f3;
}

.check {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  top: 8px;
  left: 50px;
  margin-bottom: 15px;
}

.linea {
  border: solid 2px;
  border-color: #ececec;
  border-bottom: solid #757575 5px;
}
.linea__1 {
  border: solid 2px;
  border-color: #ececec;
}

.container__head {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.nav {
  margin-top: 20px;
}
.nav__web {
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  color: #2196f3;
}
.nav__ul {
  display: inline-block;
}
.nav__li {
  display: inline-block;
  font-size: 16px;
  width: 80px;
  margin-left: 40px;
}
.nav__a {
  color: #2196f3;
  position: relative;
  top: 20px;
}
.nav__a::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 5px;
  background-color: #2196f3;
  position: relative;
  top: 20px;
  border-radius: 4px;
}

.nav__li:hover > a {
  color: #2196f3;
}

.nav__a-1 {
  color: #2196f3;
  position: relative;
  top: 20px;
}
.nav__a-1::after {
  content: "";
  display: inline-block;
  width: 75px;
  height: 5px;
  background-color: #2196f3;
  position: relative;
  top: 20px;
  border-radius: 4px;
}

.email__ul {
  width: 600px;
  text-align: end;
  margin-top: 38px;
}

.email__li {
  display: inline-block;
  padding-left: 50px;
}

.celu:hover {
  fill: #2196f3 !important;
}

.nav__email-correo {
  width: 20px;
  height: 16px;
}

.phone {
  width: 20px;
  height: 20px;
  position: relative;
  left: 5px;
  top: 2px;
}

.nav__email {
  color: #757575;
  font-size: 14px;
  position: relative;
  bottom: 5px;
}

.nav__email:hover,
.nav__email:focus {
  color: #2196f3;
}

.slogan {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.fond {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imagenfondo.jpg);
  background-size: cover;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

.h1__slogan {
  font-size: 44px;
  color: #ffffff;
  text-align: center;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 1px;
  border-radius: 4px;
  background: #2196f3;
  position: relative;
  bottom: 10px;
  left: 0;
  padding: 10px;
  cursor: pointer;
}

.atras {
  background-color: #f5f4fa;
  padding: 10px 0;
  margin-left: 5px;
  margin-top: -20px;
}
.atras__1 {
  background-color: #f5f4fa;
  padding: 10px 0;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: -27px;
  position: relative;
  top: 8px;
}

.antena {
  width: 270px;
  height: 80px;
  margin: 20px 10px 20px 0;
  padding-left: 90px;
}

.reloj {
  width: 270px;
  height: 80px;
  margin: 22px 10px 20px 0;
  padding-left: 90px;
}

.computer {
  width: 270px;
  height: 80px;
  margin: 20px 10px 20px 0;
  padding-left: 90px;
}

.astronauta {
  width: 270px;
  height: 80px;
  margin: 20px 10px 20px 0;
  padding-left: 90px;
}

.title {
  display: inline-block;
}
.title__tittle {
  font-size: 14px;
  color: #212121;
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
  right: 20px;
}
.title__tittle__-1 {
  font-size: 14px;
  color: #212121;
  margin-left: 20px;
  margin-top: 27px;
  padding-bottom: 20px;
  position: relative;
  top: 35px;
  right: 20px;
}

.texto {
  width: 250px;
  color: #757575;
  font-size: 14px;
  margin-right: 20px;
}
.texto__2 {
  width: 250px;
  color: #757575;
  font-size: 14px;
  position: relative;
  top: 15px;
}

.titular {
  text-align: center;
  font-size: 36px;
  color: #212121;
  margin-top: -130px;
  padding-bottom: 20px;
}

.photo {
  display: inline-block;
  margin-right: 10px;
  margin-top: 40px;
}
.photo__1 {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1411764706);
  margin-right: 30px;
  margin-top: 40px;
}

.compu {
  margin-bottom: -20px;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 77px;
  height: 60px;
  width: 372px;
}

.app {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 20px;
}

.cel {
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 77px;
  height: 60px;
}

.fondo {
  background-color: whitesmoke;
}

.team {
  text-align: center;
  font-size: 36px;
  width: 1200px;
}

.profesion {
  color: #757575;
  text-align: center;
  padding-bottom: 10px;
}

.icono {
  border-radius: 40%;
  border: solid #ffffff 1px;
  width: 50px;
  height: 50px;
  padding-left: 14px;
  padding-top: 13px;
  margin-left: 10px;
  margin-bottom: 20px;
  fill: #afb1b8 !important;
}
.icono:hover {
  background-color: #2196f3;
  fill: #ffffff !important;
}

.icono1 {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  border: solid #ffffff 1px;
  padding-left: 14px;
  padding-top: 13px;
  margin-right: 5px;
  margin-bottom: 20px;
  fill: #afb1b8 !important;
}
.icono1:hover {
  background-color: #2196f3;
  fill: #ffffff !important;
}

.clientes {
  font-size: 36px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
}

.uni {
  background-color: #f5f4fa;
  padding: 20px 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: solid #afb1b8 1px;
  border-radius: 3px;
  cursor: pointer;
}

.uni {
  fill: #afb1b8 !important;
}
.uni:hover {
  border: solid #2196f3 2px;
  fill: #2196f3 !important;
}

.union {
  margin: 12px 0;
  width: 60px;
  height: 52px;
}

.papeles {
  margin: 8px 0px;
  width: 65px;
  height: 60px;
}

.objecto {
  margin: 14px 0;
  width: 65px;
  height: 48px;
}

.foster {
  margin: 14px 0;
  width: 75px;
  height: 48px;
}

.hoja {
  margin: 11px 0;
  width: 75px;
  height: 53px;
}

.company {
  margin: 8px 0;
  width: 95px;
  height: 59px;
}

.container__boton {
  display: flex;
}

.container__botton {
  cursor: pointer;
  background-color: #f5f4fa;
  font-size: 16px;
  width: 73px;
  padding: 10px;
  border-radius: 4px;
  margin: 0 5px;
  border-color: #f5f4fa;
}
.container__botton:hover,
.container__botton :focus {
  color: #ffffff;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3490196078);
  background-color: #2196f3;
  border-color: #2196f3;
}

.container__btn {
  cursor: pointer;
  background-color: #f5f4fa;
  font-size: 16px;
  width: 115px;
  padding: 10px 10px;
  border-radius: 4px;
  border-color: #f5f4fa;
  margin: 0 5px;
}
.container__btn:hover,
.container__btn :focus {
  color: #ffffff;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3490196078);
  background-color: #2196f3;
  border-color: #2196f3;
}

.section__ul {
  margin-top: -100px;
}

.imagen__1 {
  display: inline-block;
  border: solid #ececec 1px;
  margin-right: 10px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.imagen__1:hover {
  background-color: #ffffff;
  border-radius: 0 0 1px 1px;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.1411764706);
}

.container__animation {
  position: absolute;
  top: 0px;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(150%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.imagen__1:hover .container__animation {
  transform: translateY(0%);
}

.text__animation {
  color: #ffffff;
  padding: 63px 24px;
  letter-spacing: 0.03em;
}

.animation {
  background-color: #ffffff;
  position: inherit;
  border: solid 1px #ffffff;
}

.name {
  font-size: 18px;
  width: 322px;
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 20px;
}

.text__1 {
  font-size: 16px;
  width: 322px;
  color: #757575;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.text__2 {
  font-size: 16px;
  width: 322px;
  color: #757575;
  padding-left: 20px;
  padding-bottom: 10px;
}

.back {
  background-color: #2f303a;
}

.logo {
  width: 200px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #2196f3;
}

.redes {
  display: flex;
}
.redes__1 {
  font-size: 14px;
  color: #ffffff;
  width: 450px;
  text-align: end;
  position: relative;
  top: 46px;
}

.icono2 {
  width: 50px;
  height: 50px;
  border: solid rgba(255, 255, 255, 0.1) 1px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30%;
  padding: 14px;
  margin-right: 10px;
  position: relative;
  top: 100px;
  right: 130px;
  fill: #ffffff !important;
}
.icono2:hover {
  background-color: #2196f3;
}

.address {
  width: 250px;
  margin-left: -40px;
  padding: 8px 0;
}

.letra {
  color: #ffffff;
}

.emails {
  padding-bottom: 5px;
}

.email__1 {
  color: #757575;
  font-size: 14px;
  margin-left: -40px;
}
.email__1:hover,
.email__1 :focus {
  color: #2196f3;
}

.email__2 {
  width: 250px;
  color: #757575;
  font-size: 14px;
  margin-left: -40px;
  padding-bottom: 50px;
  background-color: #2f303a;
  display: block;
}
.email__2:hover,
.email__2 :focus {
  color: #2196f3;
}

.subs__ctd {
  position: relative;
  bottom: 198px;
}
.subs__ctd-sub {
  font-weight: bold;
  position: relative;
  left: 590px;
  color: #ffffff;
  font-size: 14px;
}

.subs__ctd-subs-email {
  position: absolute;
  left: 590px;
  top: 40px;
  width: 340px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px #757575;
  background-color: #2f303a;
  padding-left: 15px;
}
.subs__ctd-subs-email:hover,
.subs__ctd-subs-email :focus {
  border-color: #2196f3;
}

.subs__ctd-suscribase {
  font-weight: bold;
  position: absolute;
  left: 940px;
  top: 40px;
  width: 200px;
  height: 50px;
  margin: auto;
  color: #ffffff;
  background-color: #2196f3;
  border: solid 1px #2196f3;
  border-radius: 4px;
}

.send {
  position: absolute;
  top: 53px;
  left: 1100px;
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.enviar {
  margin: auto;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */